body {
	background-color: #d9704f69 !important;
}
.select-book {
  padding-top: 23px;
}

.book-detail {
  padding-top: 28px;
}
.book-images {
  width: 24% !important;
  padding-top: 13px;
  margin-left: -16px;
}

.list-group {
  margin: 30px !important;
}

.list-group-item {
  padding: 45px !important;
}
